*{
  margin-left: 0.5%;
  margin-right: 0.5%;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ccc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navbar */

#nav-list {
  background:  rgb(25, 25, 26);
  height: 70px;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  color: white;
}


.nav-bar {
  color: white;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}


.logo{
  padding-bottom: 15px;
}

li{
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: solid rgb(156, 108, 5) 1.3px;
  font-size: 15px;

}

#nav-list li a:hover {
    color: rgb(12, 14, 14);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
}


/* Slider */
#slide-text {
  height: 350px;
  width: 99%;
  background-color: rgba(250, 246, 250, 0.664);
  text-align: center;
  padding-top: 8%;
  color: rgb(10, 9, 9);
  font-size: 20px;

}

image{
  object-fit: cover;
}


/* Header */
.header-links{
display: flex;
flex-direction: row;
height: 90px;
width: 95%;
color: black;
list-style: none;
}



/* Tradable */
.tradable-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}




.movies-container {
  height: 750px;
}

.trends .post >li{
  display: flex;
  flex-direction: row;
  list-style: none;
}



/* Footer */
input[type=submit] {
  background-color: rgba(204, 225, 228, 0.664);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(48, 46, 46);
  color: white;
}


input[type=text], textarea {
  width: 100%; 
  display: flex;
  flex-direction: column;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: horizontal;
  overflow: hidden;
  border: solid black 1px;
}

.support{
padding: 12px;
margin: 18px;
border-radius: 10px;
}


.support p{
  padding-top: 40px;
}



.support h3{
  font-size: 25px;
}

#footer{
  background-color: rgb(48, 46, 46);
  height: 550px;
  width: 95%;
  opacity: 0.9;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  bottom: 0;
}

input {
  margin-inline: 0.4rem;
  margin-block: 2rem;
  padding: 15px;
}


.item-list {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.item-list img {
  max-width: 100px;
  object-fit: cover;
}


.element-div{
  height: 200px;
  border: 3px solid black;
  margin: 0;
  padding: 10px;
}


.post-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  margin: 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background-color: rgb(136, 133, 133);
  color: rgb(5, 5, 5);
}


button{
  background-color: rgb(226, 245, 239);
  color: rgb(31, 26, 26);
  border-radius: 5px;
  padding: 5px;
}

.new-post{
  width: 400px;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}


.new-posts-container{
  text-align: center;
  align-items: center;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.post-title {
  color: white;
  background-color: rgb(39, 38, 38);
  border-radius: 5px;
}


.links{
  padding: 5px;
  margin-right: 40px;
}


.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width:22%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}